<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>

        <div class="form-group">
            <input class="form-control" type="text" name="title" id="title" placeholder="제목">
        </div>
        <div class="form-group">
            <textarea class="form-control" id="content" name="content"></textarea>
        </div>
        <button type="button" id="btn-create" class="btn btn-primary">등록</button>
    </div>
        <div th:replace="fragments/footer :: footer"/>
</div>
</body>

<script src="/js/index.js">

</script>
<script>

    $('#btn-create').on('click', function(){
        alert("클릭")

        var data = {
            title : $('#title').val(),
            content : $('#content').val()
        };
        $.ajax({
            type : 'POST',
            url : "/api/ideaboard/post",
            dataType : "json",
            contentType : "application/json; charset=utf-8",
            data : JSON.stringify(data)

        }).done(function(){
            alert("등록성공");
            location='/';
        }).fail(function(error){
            alert(JSON.stringify(error));
        })
    });


</script>
</html>