<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"  crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <div>
        <form>
            <input type="text" name="title" id="title" placeholder="제목">
            <textarea id="content" name="content">내용</textarea>

        </form>
        <button type="button" id="btn-create">등록</button>
    </div>

</body>

<script src="/js/index.js">

</script>
<script>

    $('#btn-create').on('click', function(){
        alert("클릭")

        var data = {
            title : $('#title').val(),
            content : $('#content').val()
        };
        $.ajax({
            type : 'POST',
            url : "/api/ideaboard/post",
            dataType : "json",
            contentType : "application/json; charset=utf-8",
            data : JSON.stringify(data)

        }).done(function(){
            alert("등록성공");
            location='/';
        }).fail(function(error){
            alert(JSON.stringify(error));
        })
    });


</script>
</html>