<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <form th:object="${ideaBoard}" method="post">
            <div class="form-group">
                <label th:for="id">#</label>
                <input type="number" th:field="*{id}" class="form-control" readonly="readonly"/>
            </div>
            <div class="form-group">
                <label th:for="title">제목</label>
                <input type="text" th:field="*{title}" class="form-control" />
            </div>
            <div class="form-group">
                <label th:for="content">내용</label>
                <textarea rows="4" cols="80" style="width: 600px;" th:field="*{content}" ></textarea>

            </div>
            <div class="form-group">
                <label th:for="writeDate">작성일</label>
                <input type="text" th:field="*{writeDate}" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label th:for="updateDate">수정일</label>
                <input type="text" th:field="*{updateDate}" class="form-control" readonly="readonly"/>
            </div>

        </form>
    <a class="btn btn-primary" href="/">삭제</a>
    <a class="btn btn-primary" id="btn-update">수정</a>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>

<script>

    $('#btn-update').on('click', function(){
        alert("클릭")

        var data = {
            id : $('#id').val(),
            title : $('#title').val(),
            content : $('#content').val(),
            writeDate : $('#writeDate').val(),
            updateDate : $('#updateDate').val()
        };

        $.ajax({
            type : 'PUT',
            url : "/web/api/ideaboard/update",
            dataType : "json",
            contentType : "application/json; charset=utf-8",
            data : JSON.stringify(data)

        }).done(function(success){
            alert("수정성공");
            location='/ideaboard/view?id='+success;
        }).fail(function(error){
            alert(JSON.stringify(error));
        })
    });


</script>

</html>