<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>

        <table class="table table-sriped">

            <tr>
                <th>#</th>
                <td id="id" th:text="${ideaBoard.id}"></td>

            </tr>
            <tr>
                <th>제목</th>
                <td id="title" th:text="${ideaBoard.title}"></td>
            </tr>
            <tr>
                <th>내용</th>
                <td id="content" th:text="${ideaBoard.content}"></td>
            </tr>
            <tr>
                <th>작성일</th>
                <td id="writeDate" th:text="${ideaBoard.writeDate}"></td>
            </tr>
            <tr>
                <th>수정일</th>
                <td id="updateDate" th:text="${ideaBoard.updateDate}"></td>
            </tr>

        </table>

    </div>
    <a class="btn btn-primary" id="btn-delete" role="button">삭제</a>
    <a class="btn btn-primary" id="btn-update" th:onclick="|location.href='@{/ideaboard/updateForm(id=${ideaBoard.id})}'|" role="button">수정</a>
    <a class="btn btn-lg btn-dark" href="/ideaboard" role="button">리스트</a>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
<script>

    $('#btn-delete').on('click', function(){
        alert("클릭")

        var id = $('#id').text();

        $.ajax({
            type : 'DELETE',
            url : "/api/ideaboard/delete/"+id,
            dataType : "json",
            contentType : "application/json; charset=utf-8"


        }).done(function(){
            alert("삭제성공");
            location='/ideaboard'
        }).fail(function(error){
            console.log(JSON.stringify(error));
        })
    });


</script>

</html>