<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"  crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <title>게시판 메인</title>

</head>
<body>
<div class="container">

    <a class="btn btn-lg btn-dark" href="/web/ideaboard/list">아이디어 게시판</a>
<!--    <a class="btn btn-lg btn-dark" href="/api/ideaboard/getlist">아이디어 게시판</a>-->
    <div>
        <a th:if="${userName == null}" href="/oauth2/authorization/google" class="btn btn-success active" role="button" >구글 로그인</a>
    </div>
    <div>
        <a th:if="${userName == null}" href="/oauth2/authorization/naver" class="btn btn-success active" role="button" >네이버 로그인</a>
    </div>
        <a th:if="${userName != null}" href="/logout" class="btn btn-success active" role="button" ><span th:text="${userName}" ></span>Logout</a>

</div>

</body>
</html>